<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Test Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="utils.RetryTransformer"/>
    </listeners>
    <test name="Smoke Test">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>
            <class name="tests.ui.LoginTest"/>
            <class name="tests.ui.AddProjectTest"/>
            <class name="tests.ui.ManagementTests"/>
        </classes>
    </test>
</suite>